.browser {
  padding: 5rem 0 3rem;
}

.browserBox {
  margin: 0 auto;
  max-width: calc(var(--max-width) * 1px);
}

.browserBox h2 {
  color: #f1f5f9;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: none;
}

/* @media (--desktop) {
  .browserBox h2 {
    font-size: 30px;
    color: red;
  }
} */
